@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'nunito_ital' ;
  src: url('./assets/fonts/Nunito-Italic-VariableFont_wght.ttf') format('truetype');

  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'nunito';
  src: url('./assets/fonts/Nunito-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900; /* If it supports a range */
  font-style: normal; /* Matches the italic nature of the font */
  font-display: swap; /* Allows fallback font until custom font loads */
}

@font-face {
  font-family: 'playfair_ital';
  src: url('./assets/fonts/Playfair-Italic-VariableFont_opsz,wdth,wght.ttf') format('truetype');
  font-weight: 100 900; /* If it supports a range */
  font-style: italic; /* Matches the italic nature of the font */
  font-display: swap; /* Allows fallback font until custom font loads */
}

@font-face {
  font-family: 'playfair';
  src: url('./assets/fonts/Playfair-VariableFont_opsz,wdth,wght.ttf') format('truetype');
  font-weight: 100 900; /* If it supports a range */
  font-style: normal; /* Matches the italic nature of the font */
  font-display: swap; /* Allows fallback font until custom font loads */
}

/* Small devices (640px and up) */
@media (min-width: 640px) {
  /* Your styles for small devices */

}

/* Medium devices (768px and up) */
@media (min-width: 768px) {
  /* Your styles for medium devices */
}

/* Large devices (1024px and up) */
@media (min-width: 1024px) {
  /* Your styles for large devices */
}

/* Extra large devices (1280px and up) */
@media (min-width: 1280px) {
  /* Your styles for extra large devices */
}

/* 2XL devices (1536px and up) */
@media (min-width: 1536px) {
  /* Your styles for 2XL devices */
}




/* Custom landscape breakpoints from Tailwind config */
@media (min-width: 640px) and (orientation: landscape) {
  /* Styles for small landscape */
}

@media (min-width: 768px) and (orientation: landscape) {
  /* Styles for medium landscape */
    /* #home-hero {
    margin-top: 95px;
  } */
}

@media (min-width: 1024px) and (orientation: landscape) {
  /* Styles for large landscape */

}

@media (min-width: 1280px) and (orientation: landscape) {
  /* Styles for extra large landscape */
}
