@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'playfair';
  src: url('./assets/fonts/Playfair-VariableFont_opsz,wdth,wght.ttf') format('truetype');
}

/* Define the class for the content container */
.content-container {
  width: 100%; /* By default, it takes full width */
}

/* Apply the fixed width when the screen width exceeds 1536px */
@media (min-width: 1536px) {
  .content-container {
    width: 1536px; /* Set the fixed width you want */
    margin: 0 auto; /* Center align the content */
  }
}

